.accordion-single {
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    background-color: #4640BE;
    border-radius: 15px;
    border: 2px solid #FFF;
    overflow: hidden;
}
.accordion-single .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
    z-index: 1;
}
.accordion-single .accordion-title h6{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 10px;
}
.accordion-single .accordion-title span{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.2s ease-in-out;
}

.accordion-single:has(.active) .accordion-title {
    color: #000;
    background-color: #fff;
}
.accordion-single:has(.active) {
    background: #FFF;
}
.accordion-single .accordion-content p {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
}

.accordion-content {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    padding: 15px 30px;
    pointer-events: none;
    position: relative;
    z-index: 0;
}
  
  .accordion-content.active {
    opacity: 1;
  }

  @media screen and (max-width:575px) {
    .accordion-single .accordion-title {
        padding: 15px 20px;
    }
  }